
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1499412451106'); /* IE9*/
  src: url('iconfont.eot?t=1499412451106#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1499412451106') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1499412451106') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1499412451106#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before { content: "\e610"; }

.icon-xiangzuojiantou:before { content: "\e660"; }

.icon-mine:before { content: "\e65d"; }

.icon-wode:before { content: "\e606"; }

